<%- include('./../partials/head') %> 

<h1>Add Comments</h1>

<form action="/comments" method="post">
    <section>
    <label for="username">Enter your Username</label>
    <input type="text" name="username" id="username" placeholder="Username">
</section>
<section >
    <label for="comments">Add your comment</label>
    <textarea name="comment" id="comments" cols="30" placeholder="comments" rows="3"></textarea>
</section>
    <button type="submit">Post</button>
</form>

<style>
    form{
        margin: 10px;
    }

    section{
        display: flex;
        justify-content: flex-start;
        margin: 2em;
    }
    input{
        margin: 1em;
        width: 10em;
    }
    textarea{
        margin: 1em;
        width: 10em;
    }
</style>